{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ book.title }} - Book-Rec</title>
        <link rel="stylesheet" href="{% static 'core/style.css' %}">
    </head>
    <body>
        <h1>{{ book.title }}</h1>
        <br>
        <h3>This book was written by {{ book.author }}</h3>
        <script src="{% static 'core/index.js' %}"></script>
    </body>
</html>